// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/skins/orange/index';
@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
@font-face {
	font-family: "fa";
	font-weight: 400;
	src: url("fonts/fa-regular-400.ttf") format("truetype");
}
@font-face {
	font-family: "fa-b";
	font-weight: 900;
	src: url("fonts/fa-regular-900.ttf") format("truetype");
}
@font-face {
	font-family: "fa-br";
	font-weight: 400;
	src: url("fonts/fa-brands-400.ttf") format("truetype");
}


.fa {
    font-family: "fa";
  }
.fa-b {
    font-family: "fa";
  }
.fa-br {
    font-family: "fa";
  }